.Rproj.user
.Rhistory
.RData
.Ruserdata
*.nc
03_historical_jread/*.remake
*.Rproj
.DS_Store
*.ai
*.gif
*/_targets/
*/scratch.R
04_flora_cnell/out/*.tiff
04_flora_cnell/out/*.png
05_slope_mmorriss/figures/*.eps
05_slope_mmorriss/figures/*.svg
11_circular_csimeone/data_in/NWIS_data
11_circular_csimeone/README.html